language: node_js
node_js:
- "8"
- "10"
script:
- npm run test -- --coverage
- npm run build
cache:
  directories:
  - node_modules
after_script:
  - cat ./coverage/lcov.info | ./node_modules/.bin/coveralls
